.info {
  padding: 0.3em 0.6em;
  border: 1px solid rgba(0, 0, 0, .1);
  background: rgb(120, 208, 20) linear-gradient(hsla(0, 0%, 100%, .82), transparent);
  border-radius: 0.3em;
  margin-left: 1.2em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 1em;
  line-height: 1.5;
  text-shadow: 0 1px 1px currentColor;
}